<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Some kind of error!</h1>
      <p class="lead">Invalid Credentials</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/login" role="button">Go Back</a>
    </div>
  </div>

<%- include('partials/footer') %>